@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Gerenciamento de Tarefas</h1>
        <p class="lead">Este é o seu espaço para organizar, priorizar e acompanhar suas tarefas de maneira prática e eficiente. Aqui, você pode criar novas tarefas, acompanhar o progresso, colaborar com sua equipe e manter tudo em ordem para alcançar seus objetivos com tranquilidade. Aproveite as ferramentas disponíveis e torne seu dia mais produtivo!</p>
        
    </section>
</main>